@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import './base.css';

#app {
  max-width: none;
  padding: 0 12px 32px;
}

body {
  display: block;
}

a {
  text-decoration: none;
}
